*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor1: #EEEEEE;
    --cor2: #6EF0E3;
    --cor3: #ffffff;

}

body{
    background-color: var(--cor1);
}

header{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 3rem;
}

main{
    margin: auto;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-form{
    width: 350px;
    height: 350px;
     
}

.card-form img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border: 10px solid var(--cor3);
    transition: 0.3s linear;
}
.card-form img:hover{
    transform: scale(1.3);
    border-bottom: 40px solid white;
    
}

footer{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
}